@font-face {
    font-family: 'mainfont';
    src: url(fonts/fonts/joy_bold.otf);
}

@font-face{
font-family: 'subfont';
src: url(assets/fonts/good_text.otf);
}

* {
    padding: 0;
    margin: 0;
    color: azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 350px;
    height: 350px;
    display: flex;
    background-color:cadetblue;
}

#password_container {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#password_container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#password_container header > h1 {
    color:aliceblue;
    font-size: 30px;
}

#password_container article {
    display: flex;
    flex-direction: column;
    position: relative;
}

#transition_password {
    position: absolute;
    transition: 0.25s ease-out;
    font-size:medium;
    /* background-color: #25e21b; */
    display:flex;
}

/* NOT WORKING FOR SOME REASON */
#transition_password:focus {
    background-color: #f00 !important;
}
#password_container article:focus-within #transition_password{
    font-size: small;
    transform: translateY(-100%);
}

#password_input {
    padding: 5px 0;
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 3px solid rgb(28, 208, 240);
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div  {
    background: blueviolet;
    border-radius: 100px;
    border:none;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

#unlock:hover {
    /* border-bottom: 2px solid blueviolet ;
    border-right: 2px solid blueviolet ; */
    border: none;
    border-top: 2px solid rgb(255, 255, 255) ;
    border-left: 2px solid rgb(255, 255, 255) ;
}

li {
    list-style-type: none;
}

#account_manager {
    width: 70px;
    height: 100%;
    /* background-color: rgb(0, 136, 255); */
}

.account {
    width: 70px;
    height: 70px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul:hover {
    cursor: pointer;
    /* transition: 0.1s ease-in-out; */
    /* background-color: rgb(57, 62, 62); */
}

#add_account_container {
    position: relative;
}

#add_account_toggle {
    display: none;
    width:max-content;
    position: absolute;
    background: rgb(22, 22, 22);
    left: 80%;
    border-radius: 15px;
}

#add_account_container:hover *{
    display: block;
}

#add_account_headding {
    cursor: default;
    background: rgb(22, 22, 22) !important;
}

#add_account_toggle * {
    background: rgb(22, 22, 22);
    padding: 5px 10px;
    border-radius: 15px;
    
}

#add_account_container:hover > * :hover {
    background: rgb(59, 59, 59);
    /* outline: 1px solid white; */
}

main {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 100%;
}

nav {
    /* z-index: 7; */
    /* background-color: #ff0000; */
    height: 100%;
    width: 70px;
    position: absolute;
    right: 0;
}